[submodule "lib/plat/timer"]
	path = lib/plat/timer
	url = git@github.com:dniklaus/arduino-utils-timer.git
	branch = Branch_2.1.2
[submodule "lib/comp/lcdkeypad"]
	path = lib/comp/lcdkeypad
	url = git@github.com:dniklaus/arduino-display-lcdkeypad.git
	branch = Branch_1.0.1
	
[submodule "lib/plat/utils/mem"]
	path = lib/plat/utils/mem
	url = git@github.com:dniklaus/arduino-utils-mem.git
